:root {
    --orange: #FF7E00;
    --blue: #00AEFF;
}

html {
    scroll-behavior: smooth;
}

.template-background {
    background: var(--orange);
    border: 3px solid orange;
    padding: 10px;
    border-radius: 5px;
}

.color-white {
    color: white;
}

.follow-me {
    border-radius: 5px;
    border: 1px solid blue;
    box-shadow: rgb(163, 210, 239) 3px 3px;
    padding: 10px;
    overflow-x: scroll;
}

.thank-for-reading {
    border-radius: 5px;
    border: 1px solid blue;
    box-shadow: rgb(163, 210, 239) 3px 3px;
    padding: 10px;
}

pre.prettyprint {
    border-left: 5px solid var(--orange) !important;
} 


.color {
    width: 100%;
    height: 80px;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

.color-panel {
    margin-top: 10px;
    display: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 5px 5px 50px grey;
    padding: 20px;
}

#color-piker {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-layout {
    width: 100%;
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0;
    padding-left: 10px;
}

.btn-layout {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.btn-layout:hover {
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

#slugGenerator {
    margin-bottom: 10px;
}


/* privacy */
.privacy h2 {
    font-size: 32px;
}

body {
    font-family: -apple-system, system-ui, &quot;
    system-ui&quot;
    ,
    &quot;
    Segoe UI&quot;
    ,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    &quot;
    Helvetica Neue&quot;
    ,
    sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 400;
    letter-spacing: normal;

}


/* title of detail blog 
  
      280px .. 2048px
      14px  .. 32px 
  */

#Blog1 h2 {
    font-size: clamp(0.875rem, 0.6968rem + 1.0181vw, 2rem);
    font-weight: bold;
    letter-spacing: 0px;
}

/* Menu Customize by Zidane */
.desktop-menu a {
    text-decoration: none;
    color: black;
}

ul.desktop-menu {
    padding: 20px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    flex-direction: row;
}

ul.desktop-menu li {
    line-height: 30px;
}

ul.desktop-menu li a {
    color: white;
}

ul.desktop-menu li:hover>a {
    border-bottom: 2px solid white;
}

ul.desktop-menu li.full-stack-menu:hover .menu-box {
    position: absolute;
    display: block;
    animation: fullstackMenu 0.3s ease;
    background-color: #6fbaf3;
    box-shadow: 10px 10px #1b1c1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    z-index: 5;
    width: 1100px;
}

ul.desktop-menu li.devops-menu:hover .menu-box {
    position: absolute;
    display: block;
    animation: devopsMenu 0.3s ease;
    background-color: #6fbaf3;
    box-shadow: 10px 10px #1b1c1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    z-index: 5;
    width: 600px;
}

ul.desktop-menu li.special-menu:hover .menu-box {
    position: absolute;
    display: block;
    animation: specialMenu 0.3s ease;
    background-color: #6fbaf3;
    box-shadow: 10px 10px #1b1c1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
    width: 1100px;
}

ul.desktop-menu li.blockchain-menu:hover>ul {
    position: absolute;
    display: block;
    animation: blockchainMenu 0.3s ease;
    background-color: #6fbaf3;
    box-shadow: 10px 10px #1b1c1c;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
    width: 400px;
}

ul.desktop-menu li.solved-menu:hover>ul {
    position: absolute;
    display: block;
    animation: solvedMenu 0.3s ease;
    background-color: #6fbaf3;
    box-shadow: 10px 10px #1b1c1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    z-index: 5;
    width: 650px;
}

.desktop-menu .menu-box .content div:hover>a {
    border-bottom: 2px solid white;
}

.desktop-menu .menu-box .first-section div:hover {
    border: 2px solid white;
}

.desktop-menu .menu-box .second-section img {
    border-radius: 5px;
}

.desktop-menu .menu-box .second-section a:hover .description {
    animation: imgScale 0.3s ease;
}

.desktop-menu .menu-box img {
    transform: scale(1.1);
}

.desktop-menu .menu-box img:hover {
    animation: imgScale 0.3s ease;
}

.desktop-menu .hidden {
    display: none;
}

@keyframes imgScale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes blockchainMenu {
    0% {
        height: 0;
    }

    100% {
        height: 210px;
    }
}

@keyframes solvedMenu {
    0% {
        height: 0;
    }

    100% {
        height: 350px;
    }
}

@keyframes fullstackMenu {
    0% {
        height: 0;
    }

    100% {
        height: 450px;
    }
}

@keyframes specialMenu {
    0% {
        height: 0;
    }

    100% {
        height: 390px;
    }
}

@keyframes devopsMenu {
    0% {
        height: 0;
    }

    100% {
        height: 140px;
    }
}

/* end of menu customize by Zidane */


/* image center */
.separator {
    display: flex;
    justify-content: center;
}

/* code responsive show */

@media (max-width: 600px) {
    pre {
        font-size: 12px;
        padding: 0.5em;
    }
}

pre {
    background: #fff5e6;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
}

code {
    display: block;
    word-wrap: break-word;
}


.blog-pager {
    text-align: center;
    font-size: 13px;
    line-height: normal;
    margin: 0 20px;
    padding: 2em 0
}

.showpageNum a,
.showpage a,
.showpagePoint {
    background: var(--blue);
    border: none;
    color: #FFF;
    font-size: 12px;
    font-family: verdana "open sans";
    font-weight: 400;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px 5px 5px 5px;
    transition: background 400ms;
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -o-transition: background 400ms;
    padding: 10px 20px
}

.showpageNum a:hover,
.showpage a:hover,
.showpagePoint,
.blog-pager-newer-link,
.blog-pager-older-link,
.home-link {
    background: var(--orange);
    color: #FFF
}

.home-link,
.blog-pager-older-link {
    padding: 4px 6px;
}

@media only screen and (max-width: 1024px) {
    .blog-pager {
        line-height: 50px;
    }
}

/* download */
a.download {
    padding: 10px;
    animation: highlight 2s ease infinite;
}

div .download {
    margin: 20px 0;
}

@keyframes highlight {
    0% {
        text-decoration: none;
    }

    50% {
        color: yellow;
        border: 2px solid var(--orange);
        background-color: var(--orange);
        font-weight: 700;
        border-radius: 5px;
    }

    100% {
        text-decoration: none;
    }
}




/* top button */
.btn-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 100;
    border: none !important;
    outline: none !important;
    background-color: var(--blue) !important;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}

.btn-scroll-to-top:hover {
    background-color: var(--orange) !important;
}

/* slider */

.container {
    position: relative;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide {
    width: max-content;
    margin-top: 50px;

}

.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;

}

.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 205px);
}

.item:nth-child(5) {
    left: calc(50% + 410px);
}

.item:nth-child(n + 6) {
    left: calc(50% + 615px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 300px;
    left: 30px;
    width: 500px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    display: none;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11;
}

.item .title {
    font-size: 20px;
    font-weight: bold;
    animation: showContent 1s ease-in-out forwards;
    opacity: 0;
}

.item .description {
    margin: 10px 0;
    font-style: italic;
    opacity: 0;
    animation: showContent 1s ease-in-out 0.2s forwards;
    text-align: end;
}

.item a {
    padding: 10px 20px;
    opacity: 0;
    animation: showContent 1s ease-in-out 0.4s forwards;
    text-align: end
}

.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--blue);
    transition: 0.5s;
    background-color: var(--blue);
}

.buttons button:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}